.topnav {
    overflow: hidden;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
      /* Full width */
    outline-width: 20px;
    outline-color: black;
    margin: 0px;
    margin-bottom: auto;
}

.topnavmenu{
    padding-left: 40%;
}

.topnav a.active {
    background-color: #04AA6D50;
    color: white;
}

.topnavselect option, select{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background: inherit;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .topnavselect:hover {
    background-image: linear-gradient(#bd0909, #be2121, #6b0303);
    background-color: purple;
    color: black;
}

/* new nav css */

.navcontainer {
    max-width: 1100px;
    margin: 0 auto;
}
.navcontainer-fluid {
    padding: 0 16px
}

header{
    min-height: 50px;
    background-image: linear-gradient(#bd0909, #be2121, #6b0303);
    width: 100%;
    color: #f2f2f2;
    top: 0;
    position: fixed;
}

header .navcontainer{
    padding: 8px;
    display: flex;
    align-items: center;
}

header img{
    margin-right: 500px;
}

header nav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 0 12px;
}

header nav a:hover, select:hover{ 
    height: 100%;
    background-image: linear-gradient(#bd0909, #be2121, #6b0303);
    background-color: purple;
    color: black;
}

body {
    background-image: url("../images/RemyBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #303030;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin: 0;
}

select{
    border:0;
    outline:0;
    -webkit-appearance:none;
    background: inherit;
    appearance:none;
    box-shadow: none;
    text-shadow: none;
    background-image: linear-gradient(#bd0909, #be2121, #6b0303)
}

.main {
    margin-top: 55px; /* Add a top margin to avoid content overlay */
    margin-bottom: 55px;
}

#Trailer1 {
    height: 400px;
    width: 650px;
    text-align: center;
    padding-bottom: 30px;
}
#Trailer1 > p {
    padding-left: 7%;
}
.page-element{
     float: left;
    border: 4px solid black;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    padding-top: 10px;
    height: auto;
    width: auto;
    margin: 10px;
    animation-name: fade-in;
    animation-duration: 1s;
}

.default_font {
    color: black;
    font-family: "Calibri Light", monospace;
    -webkit-text-stroke: 1px white;
}

footer.main-footer {
    background: #303030bf;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    min-width: 1100px;
    border: solid black 3px;
}

.regular-container{
    justify-content: center;
    /* width: 1100px; */
    max-width: 60%;
    padding: 8px;
    margin: 55px auto;
}




.list-element{
    text-align: justify;
    font-size: 1.1em;
}



.logo{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 40px;
    height: 40px;
}

#a{
    float: bottom;
}

#contact-form{
    margin-right: 30px;
}

.bug-image{
    width: 350px;
}

@keyframes fade-in{
    0% { opacity: 0;
        margin-top: 15%;   }
    100% { opacity: 1;
             }
}

/* media query */

@media (max-width: 800px){ 
    nav{
        display: none;
    }

    .logo{
        width: 100%;
    }
}

header .topnav{
    display: flex;
    align-items: center;
}