/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-image: linear-gradient(#bd0909, #be2121, #6b0303);
    outline-width: 20px;
    outline-color: black;
    margin: 0px;
}

body {
    background-image: url("../images/RemyBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #303030;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin: 0;
}

select{
    border:0;
    outline:0;
    -webkit-appearance:none;
    background: inherit;
    appearance:none;
    box-shadow: none;
    text-shadow: none;
}


.topnavselect option, select{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background: inherit;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .topnavselect:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav body#home a#home, body#about a#about {
    background: rgba(4, 170, 109, 0.3);
    /*background-color: #04AA6D;*/
    color: white;
}

.main {
    margin-top: 55px; /* Add a top margin to avoid content overlay */
    margin-bottom: 55px;
}

#Trailer1 {
    height: 400px;
    width: 650px;
    text-align: center;
    padding-bottom: 30px;
}
#Trailer1 > p {
    padding-left: 7%;
}
.page-element{
    float: left;
    border: 4px solid black;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    padding-top: 10px;
    height: auto;
    width: auto;
    margin: 10px;
}

.default_font {
    color: black;
    font-family: "Calibri Light";
    -webkit-text-stroke: 1px white;
}

footer.main-footer {
    background: #303030bf;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    min-width: 1100px;
    border: solid black 3px;
}

.regular-container{
    justify-content: center;
    width: 1100px;
    padding: 8px;
    margin: 55px auto;
}



form{
    float: initial;
}

.list-element{
    text-align: justify;
    font-size: 1.1em;
}

.topnavmenu{
    padding-left: 40%;
}

.logo{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 40px;
    height: 40px;
}

#a{
    float: bottom;
}